#text-input {
  height: 100%;
  resize: none;
  outline: 0;
  white-space: break-spaces;
}

html,
body {
  height: 100%;
  width: 100%;
}

.todoList {
  list-style: none;
}

.todoList li {
  margin-left: 1.5em;
  padding-left: 0.25em;
}

.todoList input[type="checkbox"] {
  margin-right: 0.5em;
  margin-left: -1.75em;
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

#content,
#render {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
