#text-input {
  height: 100%;
  resize: none;
  outline: 0;
  white-space: break-spaces;
}

html,
body {
  height: 100%;
  width: 100%;
}

li.todoItem::before {
  content: none !important;
}

li.todoItem input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0.25em;
  margin: 0;
  width: 0.8em;
  height: 0.8em;
}

.hidden {
  display: none !important;
}

#content,
#render {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
